.selectors h2 {
  color: #1d2d44;
  font-size: 36px;
}

.selectors h3 {
  color: #748cab;
  font-size: 24px;
}

.highlight {
  font-weight: 700;
}

.selectors .article .highlight {
  color: #f44336;
}
